.list_item {
	display: flex;
	justify-content: center;
	align-items: center;

	&:not(:first-of-type) {
		margin-top: 185px;
	}

	& > div {
		margin: 0 40px;
		max-width: 510px;
	}

	img {
		width: 285px;
	}
}

@media all and (max-width: 900px) {
	.list_item {
		display: flex;
		flex-direction: column;

		h3 {
			font-size: 35px;
			line-height: 40px;
		}

		p {
			font-size: 15px;
			line-height: 22px;
		}
	
		&:not(:first-of-type) {
			margin-top: 80px;
		}
	
		& > div {
			max-width: 100%;
		}
	
		img {
			width: 60%;
		}
	}
}

@media all and (max-width: 600px) {
	.list_item {
		display: flex;
		flex-direction: column;

		h3 {
			font-size: 35px;
			line-height: 40px;
		}

		p {
			font-size: 15px;
			line-height: 22px;
		}
	
		&:not(:first-of-type) {
			margin-top: 80px;
		}
	
		& > div {
			width: 100%;
		}
	
		img {
			width: 60%;
		}
	}
}