@use '../../styles/colors';

.breadcrumbs {
	margin-top: 36px;
	display: flex;
	align-items: center;
	font-size: 20px;
	color: colors.$green;

	p {
		margin: 0 5px;
		font-size: 20px;
		color: colors.$green;

		&:first-of-type {
			margin-left: 0;
		}

		&.current {
			font-weight: 700;
			font-size: 19px;
		}
	}
}

@media all and (max-width: 900px) {
	.breadcrumbs {
		margin-top: 20px;
		font-size: 17px;
		align-items: flex-start;
	
		p {
			font-size: 17px;
			line-height: 22px;
	
			&.current {
				font-size: 16px;
			}
		}
	}
}